{{> head }}



    {{> navbar }}

    <div class="row">
        <div class="col-8">

        </div>
        <div class="col-8">
            <img  class="img-thumbnail" style="height: 10%"  src="assets/img/yo.jpg"  />
        </div>
    </div>

    {{> footer}}